@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;500;600;700&display=swap');
:root{
    --color-body: #b6cbce;
    --color-heading: #eef3db;
    --color-base: #033f47;
    --color-base2: #022a30;
    --color-brand: #e0f780;
    --color-brand2: #deff58;
    --sidbar-width :240px;
    --font-base : "Bai Jamjuree"
}

body{
    background-color: var(--color-base2);
    color: var(--color-body);
    font-family: var(--font-base), sans-serif;
}
h1,h2,h3,h4,h5,h6{
    color: var(--color-heading);
    font-weight: 700;
}

a{
    text-decoration: none;
    color: var(--color-body);
    transition: all 0.4s ease;
}

a:hover{
    color: var(--color-brand);
}

/* CSS for making the image responsive and setting the width and height */
.responsive-image {
  max-width: 100%; /* Ensure the image doesn't exceed its container width */
  height: auto; /* Maintain the image's aspect ratio */
  width: 180px; /* Set the desired width */
  height: 180px; /* Set the desired height */
}


.bg-base{
    background-color: var(--color-base);
}
.full-height{
    min-height: 100vh;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 80px;
    padding-bottom: 80px;
    border-bottom: 2px solid rgb(255, 255,255,0.1);
}


.shadow-effect {
    transition: all 0.5s;
    border: 2px  ; /* Replace with your desired border color */
    border-radius: 4%;
}

.shadow-effect:hover {
    box-shadow: -6px 6px 0 0 var(--color-brand2); /* Replace with your desired color */
}

.iconbox{
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 32px;
    background-color: var(--color-brand);
    color: var(--color-base);
    border: 2px solid ; /* Replace with your desired border color */
    border-radius: 20%; /* This creates a circular border for the icon */


}

.navbar{
    background-color: var(--color-base);
}
.navbar .nav-link{
    font-weight: 700;
    text-transform: uppercase;
    color: #fff;
}
.navbar .nav-link:active{
    color: red;
}

ul.navbar-nav.ms-auto.flex-lg-column.text-lg-center li:hover a {
    /* Add your desired styles here */
    color: var(--color-brand); /* Change this to your desired text color on hover */
    /* You can add other styles as well, such as font-size or font-weight */
  }

.text-brand{
    color: var(--color-brand);
}

@media(min-width : 992px){
    .navbar {
        min-height: 100vh;
        width: var(--sidbar-width);
        background: linear-gradient(rgba(3,63,71,0.7) , rgba(3, 63,71,0.7)), url(../images/sidebar-img.jpg);
        background-size: cover;
        background-position: center;
    }
    .navbar-brand img{
        border: 5px solid var(--color-brand);
    }

    /* content-wrapper */
   #content-wrapper{
    padding-left: var(--sidbar-width);
    /* background-color: red; */
   }
}

/* BTN */
.btn{
    padding: 12px 28px;
    font-weight: 700;
}
.btn-brand{
    background-color: var(--color-brand);
    border-color: var(--color-brand);
    color: var(--color-base);
}
.btn-brand:hover,
.btn-brand:focus{
    background-color: var(--color-brand2);
    color: var(--color-base);
    border-color: var(--color-body);
}

.custom-link{
    font-weight: 700;
    position: relative;
}

.custom-link::after{
    content: "";
    width:0%;
    height: 2px;
    background-color: var(--color-brand);
    position: absolute;
    left: 0;
    top: 110%;
}
.custom-link:hover::after{
    width: 100%;
}



/* CARD WORK */




.img-responsive {
    max-width: 160%; /* Ensures the image doesn't exceed its container */
    height: fit-content;  
    height:400px;
    width: auto\90;   /* For IE 8 and below to support max-width */
  }
  .image-with-border-radius {
    border-radius: 10px; 
  }

  



  .card-custom {
    width: 480px; /* You can adjust the width to your preference */
    background-color:var(--color-base); /* Set your desired background color here */
  }
  
  .card-custom .card-custom-image{
    overflow: hidden;
  } 
  .card-custom .card-custom-image img{
    transition: all 0.4s ease ;
  }

  .card-custom:hover .card-custom-image img{
    transform: scale(1.1);
  }

  .progress {
    justify-content: flex-start;
    border-radius: 50px;
    align-items: center;
    position: relative;
    display: flex;
    height: 30px;
    width: 70%;
    background-color:var(--color-brand2); /* Set the background color to black for the entire progress bar */
  }
  .progress p {
    color: white;
    margin: 20px;
  }
  
  .pro-valuel {
    animation: load1 3s normal forwards;
    border-radius: 50px;
    background-color:var(--color-base); /* Set the background color to red for the progress indicator */
  }
  @keyframes load1 {
    0% {
      width: 0;
    }
    100% {
      width: 98%;
    }
  }

  
 
  .pro-value2 {
    animation: load2 3s normal forwards;
    border-radius: 50px;
    background-color:var(--color-base); /* Set the background color to red for the progress indicator */
  }
  @keyframes load2 {
    0% {
      width: 0;
    }
    100% {
      width: 75%;
    }
  }

  .pro-value3 {
    animation: load3 3s normal forwards;
    border-radius: 50px;
    background-color:var(--color-base); /* Set the background color to red for the progress indicator */
  }
  @keyframes load3 {
    0% {
      width: 0;
    }
    100% {
      width: 50%;
    }
  }

  .pro-value4 {
    animation: load4 3s normal forwards;
    border-radius: 50px;
    background-color:var(--color-base); /* Set the background color to red for the progress indicator */
  }
  @keyframes load4 {
    0% {
      width: 0;
    }
    100% {
      width: 50%;
    }
  }

  .pro-value5 {
    animation: load5 3s normal forwards;
    border-radius: 50px;
    background-color:var(--color-base); /* Set the background color to red for the progress indicator */
  }
  @keyframes load5 {
    0% {
      width: 0;
    }
    100% {
      width: 65%;
    }
  }

  .pro-value6 {
    animation: load6 3s normal forwards;
    border-radius: 50px;
    background-color:var(--color-base); /* Set the background color to red for the progress indicator */
  }
  @keyframes load6 {
    0% {
      width: 0;
    }
    100% {
      width: 70%;
    }
  }


  .pro-value7 {
    animation: load7 3s normal forwards;
    border-radius: 50px;
    background-color:var(--color-base); /* Set the background color to red for the progress indicator */
  }
  @keyframes load7 {
    0% {
      width: 0;
    }
    100% {
      width: 75%;
    }
  }
  

  .pro-value8 {
    animation: load8 3s normal forwards;
    border-radius: 50px;
    background-color:var(--color-base); /* Set the background color to red for the progress indicator */
  }
  @keyframes load8 {
    0% {
      width: 0;
    }
    100% {
      width: 80%;
    }
  }
  

  .pro-value9 {
    animation: load9 3s normal forwards;
    border-radius: 50px;
    background-color:var(--color-base); /* Set the background color to red for the progress indicator */
  }
  @keyframes load9 {
    0% {
      width: 0;
    }
    100% {
      width: 80%;
    }
  }
  

  /* CONTACT */
#contact .form-control {
    background-color: var(--color-base);
    border-color: var(--color-base);
    color: var(--color-body);
}

#contact .form-control:focus {
    border-color: var(--color-brand);
    box-shadow: none;
}

#contact .form-control::placeholder {
    color: var(--color-body);
}

#contact input.form-control {
    height: 44px;
}

/* SOCIAL ICONS */
.social-icons {

}

.social-icons a {
    width: 40px;
    height: 40px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-base);
    border-radius: 100px;
    font-size: 24px;
}